body, html {
	margin :0;
	padding: 0;
	background-color: #EFEFEF;
}
.container {
	
	display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
}
header {
	height: 20%;
	width: 100%;
}
article {
	height: 80%;
	width: 100%;
	display: inline-block;
}
article div {
	float: left;
	height: 100%;
}
article .results {
	width: 70%;
	min-width: 280px;
	height: auto;
}

article .results .block {
	height: auto;
	width: 100%;
}

article .results .website {
	width: 70%;
	min-width: 270px;
	height: auto;
	margin: 5px 0;
}

article .results .website div {
		float: left;
		height: 100%;
}
article .results .website .img {
	width: auto;
	margin: 0px 10px;
}
article .results .website .content {
	width: 85%;
	display: inline-block;
}
article .results .website .content div {
	width: 100%;
	height: 50%;
}
article .results .website .content .name {
	text-transform :capitalize;
	font-size: 18px;
  color: #394242;
  height: 30px;
}
article .results .website .content .details .tag{
	width: 106px;
	min-width: 106px;
	text-transform :capitalize;
}

article .results .website .content .details .url{
	width: 100%;
	min-width: 270px;
	white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

article .contribute {
	width: 30%;
	max-width: 235px;
	height: auto;
}

.list-unstyled {
	padding-left: 12px;
}